@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
body {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e5e5e5;
}

header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  flex: 1;
  padding: 1em;
  max-width: 600px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1em;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5em;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5em;
}

label i {
  margin-right: 0.5em;
}

input[type="email"],
input[type="password"] {
  padding: 0.5em;
  margin-bottom: 1em;
  width: calc(100% - 1em);
}

.password-group {
  position: relative;
  width: 93%;
}

.password-group input {
  width: 100%;
}

.password-group .toggle-password {
  position: absolute;
  right: 1px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}

.formulario_btn {
  height: 45px;
  line-height: 45px;
  width: 100%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario_btn:hover {
  box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

#error-message {
  margin-top: 1em;
}

a {
  color: #1e90ff;
}

a:hover {
  color: #3742fa;
}

/* efecto */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 3;
  left: 10;
  margin: 10px;
  margin-left: 60px;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}


@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 450px) {
  form {
    grid-template-columns: 1fr;
  }
  header{
    .loader {
      transform: rotateZ(45deg);
      perspective: 1000px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      color: #fff;
    }
    .loader:before,
    .loader:after {
      content: "";
      display: block;
      position: absolute;
      top: 3;
      left: 10;
      margin: 10px;
      margin-left: 25px;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #ff3d00;
      transform: rotateY(70deg);
      animation-delay: 0.4s;
    }
    
    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }
    
    @keyframes rotateccw {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(-360deg);
      }
    }
    
    @keyframes spin {
      0%,
      100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
      }
      12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
      }
      25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
      }
      37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
      }
      50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
      }
      62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
      }
      75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
      }
      87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
      }
    }
  }
}
